<ui-view>
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header" style="margin-bottom: 300px;">
            <div class="layui-logo">layui 后台布局</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <li class="layui-nav-item"><a href="">控制台</a></li>
                <li class="layui-nav-item"><a href="">商品管理</a></li>
                <li class="layui-nav-item"><a href="">用户</a></li>
                <li class="layui-nav-item">
                    <a href="javascript:;">其它系统</a>
                    <dl class="layui-nav-child">
                        <dd><a href="">邮件管理</a></dd>
                        <dd><a href="">消息管理</a></dd>
                        <dd><a href="">授权管理</a></dd>
                    </dl>
                </li>
            </ul>
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item">
                    <a href="javascript:;">
                        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
                        贤心
                    </a>
                    <dl class="layui-nav-child">
                        <dd><a href="">基本资料</a></dd>
                        <dd><a href="">安全设置</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item"><a href="">退了</a></li>
            </ul>
        </div>
        <!--侧边栏-->
        <slide-tree data="{{treeData}}"></slide-tree>
        <!--<div class="layui-side layui-bg-black">
            <div class="layui-side-scroll">
                <ul class="layui-nav layui-nav-tree" lay-filter="slide">
                    <li class="layui-nav-item" ng-repeat="item in treeData"
                        ng-class="{'layui-nav-itemed': item.parentShow}">
                        <a class="" href="javascript:;" ng-click="treeHeader(item)">{{item.mainTitle}}</a>
                        <dl class="layui-nav-child">
                            <dd ng-repeat="i in item.childTree" ng-class="{'layui-this': i.show }" ng-click="goTree(i);$event.stopPropagation()">
                                <a href="javascript:;">{{i.title}}</a></dd>
                        </dl>
                    </li>
                </ul>
            </div>
        </div>-->
        
        <div class="layui-body">
            <!--tabs区域-->
            <tab-sub></tab-sub>
           <!-- <div class="layui-tab layui-tab-brief" lay-filter="test1" lay-allowClose="true">
                <ul class="layui-tab-title">
                    <li ng-repeat="item in tabsData" ng-click="goTabs(item);$event.stopPropagation()" ng-class="{'layui-this':item.show}">
                        {{item.title}}
                        <i class="layui-icon layui-unselect layui-tab-close" ng-hide="tabsData.length == 1"
                           ng-click="goRemoveTabs(item);$event.stopPropagation()">&#x1006;</i>
                    </li>
                </ul>
            </div>-->
            <!-- 内容主体区域 -->
            <div style="padding: 15px;">
                <ui-view name="home"></ui-view>
            </div>
        </div>
        
        <div class="layui-footer">
            <!-- 底部固定区域 -->
            © layui.com - 底部固定区域
        </div>
    </div>
</ui-view>



