
<div class="layui-row">
  <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
    移动：6/12 | 平板：6/12 | 桌面：4/12
  </div>
  <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
    移动：6/12 | 平板：6/12 | 桌面：4/12
  </div>
  <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
    移动：4/12 | 平板：12/12 | 桌面：4/12
  </div>
  <div class="layui-col-xs12 layui-col-sm6 layui-col-md3">
    移动：4/12 | 平板：7/12 | 桌面：8/12
  </div>
</div>
<div style="color: red; font-size: 30px;font-weight: bold;margin: 200px auto; width: 100%;text-align: center;">{{data.data[0].roleName}}</div>

<!--<div class="layui-btn layui-btn-normal" ng-click="loading()">加载层</div>
<div class="layui-btn" ng-click="popup()">提示框</div>
<div class="layui-btn layui-btn-normal" ng-click="addTabs()">新增一个tab页</div>
<form action="" class="layui-form">
  <div class="layui-form-item">
    <div class="layui-inline">
      <label class="layui-form-label">日期范围</label>
      <div class="layui-input-inline">
        <input type="text" class="layui-input" id="test" lay-date="test"  readonly ng-model="startDate" placeholder=" - "/>
      </div>
    </div>
  </div>
</form>-->
