/* Empty. Add your own CSS if you like */

.login-form{
  padding: 50px;
  border-radius: 10px;
  width: 300px;
  height: 150px;
  margin: 300px auto 0px;
  background: rgba(255,255,255,0.5);
}
.margauto{
    margin: 0px auto;
}

.slideSwitch{
    -webkit-animation:myfirst1 0.1s linear;
    -webkit-animation-play-state:running;
    -webkit-animation-fill-mode:forwards;
}
.slideSwitchOn{
    -webkit-animation:myfirst1On 0.1s linear;
    -webkit-animation-play-state:running;
    -webkit-animation-fill-mode:forwards;
}
.bodySwitch{
    -webkit-animation:myfirst 0.1s linear;
    -webkit-animation-play-state:running;
    -webkit-animation-fill-mode:forwards;
}
.bodySwitchOn{
  -webkit-animation:myfirstOn 0.1s linear;
  -webkit-animation-play-state:running;
  -webkit-animation-fill-mode:forwards;
}
@keyframes myfirstOn
{
  0%   {left:0px;}
  100% {left:200px;}
}
@-webkit-keyframes myfirstOn
{
  0%   {left:0px;}
  100% {left:200px;}
}
@-moz-keyframes myfirstOn
{
  0%   {left:0px;}
  100% {left:200px;}
}
@keyframes myfirst
 {
     0%   {left:200px;}
     100% {left:0px;}
 }
@-webkit-keyframes myfirst
 {
     0%   {left:200px;}
     100% {left:0px;}
 }
@-moz-keyframes myfirst
{
    0%   {left:200px;}
    100% {left:0px;}
}
@keyframes myfirst1
{
    0%   {left:0px;}
    100% {left:-200px;}
}
@-webkit-keyframes myfirst1
{
    0%   {left:0px;}
    100% {left:-200px;}
}
@-moz-keyframes myfirst1
{
    0%   {left:0px;}
    100% {left:-200px;}
}
@keyframes myfirst1On
{
  0%   {left:-220px;}
  100% {left:0px;}
}
@-webkit-keyframes myfirst1On
{
  0%   {left:-200px;}
  100% {left:0px;}
}
@-moz-keyframes myfirst1On
{
  0%   {left:-200px;}
  100% {left:0px;}
}
.layui-relative{
  position: relative;
}
.layui-relative i{
  color: #FFFFFF;
  position: absolute;
  top: 10px;
  left: 13px;
}
.layui-relative input {
  border-width: 0;
  color: #FFFFFF;
  padding-left: 35px;
  background: rgba(255,255,255,0.5)
}
.layui-relative input::placeholder {
  color: #FFFFFF;
}
.layui-raduis{
  border-radius: 19px!important;
}
.layui-row{
  width: 100%!important;
}
.padding{
  padding: 10px;
}
/*@-moz-keyframes myfirst !* Firefox *!
{
    0%   {background:red;}
    25%  {background:yellow;}
    50%  {background:blue;}
    100% {background:green;}
}*/
/* tab 样式修改 */
.layui-tab-card>.layui-tab-title li:hover {
  background-color: #FFFFFF;
}

.layui-tab-card>.layui-tab-title li:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 4px;
  border-radius: 0;
  background-color: #292B34;
  transition: all .3s;
  -webkit-transition: all .3s;
}
.layui-tab-card>.layui-tab-title .layui-this:after {
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 100%;
  height: 4px;
  border-width: 1px;
  border-style: solid;
  border-bottom-color: #fff;
  border-radius: 2px 2px 0 0;
  box-sizing: border-box;
  pointer-events: none;
}

